/* Пример стилей для таблицы показаний */
.readings-table {
    width: 80%;
    border-collapse: collapse;
}

.readings-table th,
.readings-table td {
    border: 1px solid black;
    padding: 5px;
    text-align: left;
}
