# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/

# Django
staticfiles/
media/
private_media/

# VS Code
.vscode/

# Env files
.env
.env.prod
*.env

# Local databases
*.sqlite
*.sqlite3
*.sqlite3-*
*.db
*.db-*

# Local backups and data dumps
backup/
backup.json
data*.json
dump*.json
*.dump.json
*.dump
*.bak

# MySQL dumps
*.sql

# System
.DS_Store
Thumbs.db
