asgiref==3.11.0
diff-match-patch==20241021
Django==5.1.6
django-ckeditor==6.7.3
django-ckeditor-5==0.2.18
django-environ==0.12.0
django-import-export==4.3.14
django-js-asset==3.1.2
pillow==12.0.0
PyMySQL==1.1.2
python-dotenv==1.2.1
pytz==2025.2
sqlparse==0.5.3
tablib==3.9.0
tzdata==2025.2
certifi==2026.1.4
pywebpush==1.14.0
