{% extends 'pool_service/base.html' %}
{% load tz %}


{% block title %}Бассейн: {{ pool.address }}{% endblock %}

{% block content %}
<div class="py-5">
    <div class="container px-lg-5">
        <a align="left" href="{% url 'pool_list' %}" class="btn btn-primary btn-lg">← Назад</a>
    </div>
</div>
<div class="container px-lg-5">
                <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
                    <div class="m-4 m-lg-5">
  
  <h1>{{ pool.client.name }}</h1>
  <p><strong></strong>{{ pool.address }}</p>
  {% if pool.description %}
    <p><em>{{ pool.description|safe }}</em></p>
  {% endif %}
  {% if role == "viewer" or role == "manager" %}
    <p>Вы можете только просматривать этот бассейн.</p>

{% elif role == "editor" or role == "service" or request.user.is_superuser %}
    <p>Вы можете редактировать этот бассейн.</p>
    <a class="btn btn-primary btn-lg" href="{% url 'water_reading_create' pool.uuid %}">Добавить показание</a>
{% endif %}
  <h2>История показаний воды</h2>
  </div>
                </div>
            </div>
            </div>
            <section class="pt-4">
                <div class="container px-lg-5">
<!-- Форма для выбора количества записей на странице -->
  <form method="get" id="per-page-form">
      <label for="per_page">Показывать записей на странице:</label>
      <select name="per_page" id="per_page" onchange="document.getElementById('per-page-form').submit();">
          <option value="20" {% if per_page == 20 %}selected{% endif %}>20</option>
          <option value="50" {% if per_page == 50 %}selected{% endif %}>50</option>
          <option value="100" {% if per_page == 100 %}selected{% endif %}>100</option>
      </select>
  </form>


  </div>
  </section>
  
    {% if readings %}
 <div class="py-5">
    <div class="container px-lg-5">   
  <div class="table-container">
    <table class="table">
      <thead>
        <tr>
          <th>Дата</th>
          <th>Добавил</th>
          <th>Температура</th>
          <th>pH</th>
          <th>CL свободный</th>
          <th>CL общий</th>
          <th>pH, станция дозирования</th>
          <th>CL свободный, станция дозирования</th>
          <th>CL общий, станция дозирования</th>
          <th>Redox, станция дозирования</th>
          <th>Комментарий</th>
          <th>Необходимые материалы</th>
          <th>Произведеные работы</th>
        </tr>
      </thead>
      <tbody>
        {% for reading in readings %}
          <tr>
            <td>{{ reading.date|date:"d.m.Y H:i" }}</td>
            <td>
              {% if reading.added_by %}
                 {% if reading.added_by.first_name or reading.added_by.last_name %}
                 {{ reading.added_by.first_name }} {{ reading.added_by.last_name }}
              {% else %}
                 {{ reading.added_by.username }}
              {% endif %}
              {% else %}
                -
              {% endif %}
            </td>
            <td>{{ reading.temperature|default:"" }}</td>
            <td>{{ reading.ph|default:"" }}</td>
            <td>{{ reading.cl_free|default:"" }}</td>
            <td>{{ reading.cl_total|default:"" }}</td>
            <td>{{ reading.ph_dosing_station|default:"" }}</td>
            <td>{{ reading.cl_free_dosing_station|default:"" }}</td>
            <td>{{ reading.cl_total_dosing_station|default:"" }}</td>
            <td>{{ reading.redox_dosing_station|default:"" }}</td>
            <td>{{ reading.comment|default:"" }}</td>
            <td>{{ reading.required_materials|default:"" }}</td>
            <td>{{ reading.performed_works|default:"" }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>
    </div>
    </div>

 <div class="pagination">
      <span class="step-links">
          {% if readings.has_previous %}
              <a href="?page=1">&laquo; первая</a>
              <a href="?page={{ readings.previous_page_number }}">предыдущая</a>
          {% endif %}

          <span class="current">
              Страница {{ readings.number }} из {{ readings.paginator.num_pages }}.
          </span>

          {% if readings.has_next %}
              <a href="?page={{ readings.next_page_number }}">следующая</a>
              <a href="?page={{ readings.paginator.num_pages }}">последняя &raquo;</a>
          {% endif %}
      </span>
    </div>

  {% else %}
    <p>Нет данных о показаниях.</p>
  {% endif %}
  </div

{% endblock %}
